! {{ router }} Configuration:

{% for interface, addresses in interfaces.items() %}
interface {{ interface }}
   no switchport
   ip address {{ addresses['IPv4'] }}
   ipv6 address {{ addresses['IPv6'] }}
   no shutdown
{% endfor %}
