!
hostname {{ router }}
!
ipv6 unicast-routing
!
{% for interface, attribute in interfaces.items() -%}
interface {{ interface }}
   description {{ attribute['description'] }}
   no switchport
   ip address {{ attribute['IPv4'] }}
   ipv6 enable
   ipv6 address {{ attribute['IPv6'] }}
   no shutdown
!
{% endfor %}

{%- for loopback_interface, attribute in loopbacks.items() -%}
interface {{ loopback_interface }}
   description {{ attribute['description'] }}
   ip address {{ attribute['IPv4'] }}
   ipv6 enable
   ipv6 address {{ attribute['IPv6'] }}
!
{% endfor -%}

